.container{
    background-color: #172d3e !important;

}

.box{
    display: flex;
    gap:20px;
    font-size: 14px;
    padding: 5px;
}

.hight{
    color:green;
    margin: 2px;
}
.low{
    color: red;
    margin: 2px;
}





.chart_wrapper {
    float: left;
    position: relative;
    width: 100%;
    background: white;
}




.chart {
    float: left;
    max-height: 800px;
    height: 75vh;
    position: relative;
    width: 100%;
  }
  
 


  
  @media screen and (max-width: 1024px) {
    .highcharts-stocktools-toolbar li > .highcharts-menu-item-title {
      display: none;
    }
  
    .highcharts-stocktools-toolbar li ul li {
      width: auto;
    }
  }
  

  .filter_box{
    display: flex;
    justify-content:space-between;
    padding: 10px;
  }